@import 'util'

$icon-ratio: 0.625
$cell-size: 32px
$cell-icon-size: $cell-size * $icon-ratio
$legend-size: $cell-size * 1.25
$smiley-size: 128px
$smiley-icon-size: $smiley-size * $icon-ratio
$icon-sizes: (preload: 0, small: $cell-icon-size, medium: $cell-size, large: $legend-size, huge: $smiley-icon-size)

@function twemoji-url($code-point)
  $file-name: str-join($code-point, '-')
  @return url(https://twemoji.maxcdn.com/2/svg/#{$file-name}.svg)

@function pad4($str)
  @return pad($str, 4, '0')

@function emojione-url($code-point)
  $file-name: str-join(map1(pad4, $code-point), '-')
  @return url(https://cdn.jsdelivr.net/emojione/assets/svg/#{$file-name}.svg)

@function noto-url($code-point)
  $file-name: str-join(map1(pad4, $code-point), '_')
  @return url(../emoji/noto/emoji_u#{$file-name}.png)

@function emoji($code-point, $emoji-style, $size)
  @return call(#{$emoji-style}-url, $code-point) center / $size no-repeat

@function emojis($code-points, $emoji-style, $size)
  @return map1(emoji, $code-points, $emoji-style, $size)

=emoji-filter($filter, $emoji-type, $size-type, $code-points...)
  @each $emoji-style in twemoji, emojione, noto
    $value: emojis($code-points, $emoji-style, map-get($icon-sizes, $size-type))
    #{$filter}[data-emoji-style=#{$emoji-style}] &
      @if $emoji-type == 'button'
        .emoji
          background: $value
      @else
        background: $value

=emoji($emoji-type, $size-type, $code-points...)
  +emoji-filter('', $emoji-type, $size-type, $code-points...)

// The preload is split up because Sass doesn't have tail recursion. :-(
.preload1
  +emoji(plain, preload, '30' '20e3', '31' '20e3', '32' '20e3', '33' '20e3', '34' '20e3', '35' '20e3', '36' '20e3', '37' '20e3', '38' '20e3', '39' '20e3')
.preload2
  +emoji(plain, preload, '23f1', '23f8', '25b6', '274c', '1f4a3', '1f4a5', '1f51f', '1f607', '1f60e', '1f62d', '1f634', '1f642', '1f6a9', '1f6a9')

button
  // https://css-tricks.com/absolute-positioning-inside-relative-positioning/
  position: relative
  outline-style: none

.emoji
  position: absolute
  width: inherit
  height: inherit
  top: 0
  left: 0

.sweeper, .panel
  display: flex
  flex-flow: wrap

.grid, .panel
  padding: 8px

.panel
  flex: 1 1 $smiley-size
  align-content: flex-start

.stats
  display: flex
  flex-flow: column

.grid
  flex: none
  button
    font-size: $cell-icon-size
    vertical-align: middle
    padding: 0
    width: $cell-size
    height: $cell-size
    &:disabled, &.open
      background-color: white
      border: none

  $colours: blue green red navy maroon teal purple orange
  @for $i from 1 through 8
    .clear#{$i}
      color: nth($colours, $i)
      font-weight: 900
      &::after
        content: '#{$i}'

  .mine
    +emoji(button, small, '1f4a3')
    &.open
      +emoji(button, small, '1f4a5', '1f4a3')
  .flag
    +emoji(button, small, '1f6a9')
    &.wrong
      +emoji(button, small, '274c', '1f6a9')

.grid.started:not(.done):not(.paused) button:not(.open):not(.flag)
  +emoji-filter('[data-click-mode=flag]', button, small, '1f6a9')
  .emoji
    opacity: 0.125

.smiley
  button
    width: $smiley-size
    height: $smiley-size
    padding: 0
    vertical-align: middle
    +emoji(button, huge, '1f642')
  .won
    +emoji(button, huge, '1f60e')
  .lost
    +emoji(button, huge, '1f62d')
  .noflags
    +emoji(button, huge, '1f607')
  .paused
    +emoji(button, huge, '1f634')

.timer, .flags
  vertical-align: middle
  .digit
    display: inline-block
    width: $cell-size
    height: $cell-size
  &::before
    content: ''
    display: inline-block
    width: $legend-size
    height: $legend-size

.timer::before
  +emoji(plain, large, '23f1')
.timer.playing:hover::before
  +emoji(plain, large, '23f8')
.timer.paused:hover::before
  +emoji(plain, large, '25b6')

.flags::before
  +emoji-filter('[data-click-mode=open]', plain, large, '1f4a3')
  +emoji-filter('[data-click-mode=flag]', plain, large, '1f6a9')
.flags:hover::before
  +emoji-filter('[data-click-mode=open]', plain, large, '1f4a3', '1f6a9')
  +emoji-filter('[data-click-mode=flag]', plain, large, '1f6a9', '1f4a3')

@for $i from 0 through 9
  .digit#{$i}
    +emoji(plain, medium, '3#{$i}' '20e3')
.digit10
  +emoji(plain, medium, '1f51f')
